.Task-container {
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    width: 95%;
    border-radius: 20px;
    height: 70px;
    margin-top: 10px;
}

.title, .due, .actions, .select {
    margin: 10px 5px;
    display: flex;
    justify-content: center;
}

.actions, .select {
    display: flex;
    justify-content: center;

}

.mySelect {
    width: 100%;
    border-radius: 5px;
    height: 80%;
    margin-top: 5px;
}

.Delete, .edit, .details {
    width: 80px;
    height: 50px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    transition: 200ms;
    color: white;
    font-weight: bold;
}

.Delete {
    background: #e62222;
}

.edit {
    background: #40A2D8;
}

.details {
    background: #5aa548;
}

.actions button {
    margin-right: 5px;
}

.Delete:hover {
    background: #ff3636;
}

.edit:hover {
    background: #6ad9ef;
}

.details:hover {
    background: #87d58a;
}
