body {
    text-align: center;
    font-family: 'Segoe Print';
}

.Task-container {
    background-color: white;
    display: flex;
    width: 80%;
    border-radius: 20px;
    height: 60px;
    margin-top: 10px;
}

.prop {
    flex: 1; 
    margin-top: 10px;
}

.mySelect {
    border-radius: 5px;
}
