.Task-container {
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    width: 95%;
    border-radius: 20px;
    height: 70px;
    margin-top: 10px;
}

.title, .due,.select {
    margin: 10px 5px;
    display: flex;
    justify-content: center;
    font-family: cursive;
    font-size: large;
    align-items: center;
}

.actions {
    margin: 10px 5px;
    display: flex;
    justify-content: center;
    font-family: cursive;
    font-size: large;
}
.title {
    width: 150px;
    overflow: auto;
    white-space: nowrap;
}

.actions, .select {
    display: flex;
    justify-content: center;

}

.mySelect {
    width: 100%;
    border-radius: 5px;
    height: 80%;
    margin-top: 5px;
}

.Delete, .editTaskButton, .detailsButton, .CommentsButton {
    width: 80px;
    height: 50px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    transition: 200ms;
    color: white;
    font-weight: bold;
}

.Delete {
    background: #e62222;
}

.editTaskButton {
    background: #40A2D8;
}

.detailsButton {
    background: #5aa548;
}

.actions button {
    margin-right: 5px;
}

.CommentsButton {
    background: #ffaf00;
}

.CommentsButton:hover {
    background: #f0c668;
}
.Delete:hover {
    background: #ff3636;
}

.editTaskButton:hover {
    background: #6ad9ef;
}

.detailsButton:hover {
    background: #87d58a;
}

.task-edit-container {
    display: none;
    margin-top: 30px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.task-details-container {
    margin-top: 30px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 35%;
    margin-left: 25%;
    font-family: cursive;
}

.task-details-container .head {
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.task-details-container div {
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: 40px;
}

.task-details-container div:last-child {
    margin-bottom: 0;
}

.task-details-container div span {
    font-weight: bold;
}
/**/

.select-container{
    display: flex;
    align-items: center;
}

.mySelect {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 150px;
    height: 40px;
    border: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px gray;
    transition: 200ms;
}

.option {
    padding: 0 30px 0 10px;
    min-height: 40px;
    display: flex;
    align-items: center;
    background: #333;
    border-top: #222 solid 1px;
    position: absolute;
    top: 0;
    width: 100%;
    pointer-events: none;
    order: 2;
    z-index: 1;
    transition: background .4s ease-in-out;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
}

.option:hover {
    background: #666;
}

.select:focus .option {
    position: relative;
    pointer-events: all;
}
