body {
    background-color: #81c7f0;
    font-family: "poppins";
}


.todo-lists {
    align-content: center;
    padding: 20px 20px;
}

.todo-list{
    align-content: center;
    padding: 40px 20px;
}

.tasks {
    list-style: none;
    padding: 0;

}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #40A2D8;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.navbar div {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
}

.user {
    display: flex;
    justify-content: space-between;
}

.header {
    display: flex;
    justify-content: space-evenly;
}

deletebtnForm {
    align-content: center;
}

.deletebtn {
    width: 90px;
    height: 45px;
    border-radius: 10px;
    border: none;
    background-color: #fff;
    cursor: pointer;
    box-shadow: 0 0 10px #333;
    overflow: hidden;
    transition: .3s;
    margin-top:20px;
}

.deletebtn:hover {
    background-color: rgb(245, 207, 207);
    transform: scale(1.2);
    box-shadow: 0 0 4px #111;
    transition: .3s;
}

.add-task{
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
}

.add-task:hover {
    background-color: #0056b3;
}

.addTask {
    display: flex;
    justify-content: center;
}

.add-Todo {
    display: flex;
    justify-content: center;
}

button.add-Todobtn {
    background-color: #004dff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
    height: 50px;
    width: 50%;
    margin-top: 20px;
}

button.add-Todobtn:hover {
    background-color: #007bff;
}

.add-task-container {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    margin-top: 20px;
}

.add-task-container label {
    font-weight: bold;
}

.add-task-container .form-group {
    margin-bottom: 15px;
}

.add-task-container .form-control {
    width: 100%;
}

.add-task-container .btn-primary {
    margin-top: 10px;
}
