<head>
    <link rel="stylesheet" href="~/css/login.css" />
</head>
<body>
    <section class="container">
        <div class="login-container">
            <div class="circle circle-one"></div>
            <div class="form-container">
                <h1 class="opacity">Register</h1>
                <form>
                    <input type="text" placeholder="Email" />
                    <input type="text" placeholder="USERNAME" />
                    <input type="password" placeholder="PASSWORD" />
                    <input type="password" placeholder="REPEAT PASSWORD" />
                    <button class="opacity">REGISTER</button>
                </form>
                <a href="/Account/Login">Log In</a>
            </div>
            <div class="circle circle-two"></div>
        </div>
        <div class="theme-btn-container"></div>
    </section>
</body>