@model IEnumerable<TodoListApp.WebApi.Models.TodoListModel>

<head>
    <link rel="stylesheet" href="~/css/TodoList.css" />
</head>

<div class="todo-lists">
    @foreach (var todoList in Model)
    {
        <div class="todo-list">
            <h1> @todoList.Title </h1>
            @Html.Partial("Task", todoList.Tasks)
        </div>
    }
</div>
